<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/main.css">
<title>BATTLESHIP</title>
</head>
<body>
<h1>ENEMY BOARD<h1>
<% let y = 0 %>
  <% for (let row of board) { %>
    <div class='row'>
    <% let x = 1 %>
    <% for (let e of row) { %>
      <form class='grid' action='/fire/<%=alpha[y]%><%=x%>' method='POST'>
      <input class='butt, <%=e%>' type='submit' value='<%=0%>'>
      </form>
      <% x++ %>
    <% } %>
    </div>
    <% y++ %>
  <% } %>
</body>
</html>