<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/main.css">
<title>BATTLESHIP</title>
</head>
<body>
<h1>PLACE YOUR SHIPS<h1>
<% let y = 0 %>
  <% for (let row of board) { %>
    <div class='row'>
    <% let x = 1 %>
    <% for (let e of row) { %>
      <form class='grid' action='/place/<%=alpha[y]%><%=x%>' method='POST'>
      <input class='butt, <%=e%>' type='submit' value='<%=e%>'>
      </form>
      <% x++ %>
    <% } %>
    </div>
    <% y++ %>
  <% } %>
  <form class='chship' action='/type/battleship' method='POST'>
  <input class='butt' type='submit' value='battleship'>
  </form>
  <form class='chship' action='/type/carrier' method='POST'>
  <input class='butt' type='submit' value='carrier'>
  </form>
  <form class='chship' action='/type/cruiser' method='POST'>
  <input class='butt' type='submit' value='cruiser'>
  </form>
  <form class='chship' action='/type/submarine' method='POST'>
  <input class='butt' type='submit' value='submarine'>
  </form>
  <form class='chship' action='/type/destroyer' method='POST'>
  <input class='butt' type='submit' value='destroyer'>
  </form>
</body>
</html>